.module {
  input {


    &:focus {
      outline: none;
      border: none;
      background-color: yellow;
    }

    // set individual height and widths for different inputs
    #module-short-input, #module-name-input { height: 30px; }
    #module-weight-input, #module-mark-input { height: 20px; }
  }
}
