@import "../helpers/_colors.less";

/* Landscape phones and down */
@media (max-width: 600px) {

  .scatterModule
  {
    width: 50% !important;
    height: 40px;
    line-height: 20px;
  }

  #scatterCurrentElement, #scatterForecastElement
  {
    font-size: 1em !important;
  }

  .actions {
    li > p {
      display: block;
    }
  }
 }

/* Landscape phone to portrait tablet */
@media (max-width: 800px) {

  // force graph styles
  .scatterModule
  {
    width: 33.333%;
    height: 50px;
    line-height: 30px;
  }

  #sidePanel {
    width: 100%;
    height: auto;
    max-width: 100%;
    background-color: @base-grey-1;
    padding: 15px 0;

    & .actions {
      padding: 0 20px;
      width: 100%;

      & li {
        float: left;
        display: inline-block;
        text-align: center;
        width: 25%;
        list-style: none;
        height: 25px;
        line-height: 25px;

        & p {
          display: none;
        }
      }
    }
  }

  #mainPanel {
    padding: 0 30px;
    width: 100%;
    overflow: visible;

    .content-inner {
      margin: 30px auto;
      width: 100%;
    }
  }
 }

 @media (max-width: 1200px) {
  #mainPanel {
    padding: 0 30px;
  }
 }
