<template name="modal">
  <div id="viewModule" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        {{#if viewingModule}}
          {{#with module}}
            <div class="modal-header">
              <button type="button" class="close closeModuleView" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">{{name}}</h4>
            </div>
            <div class="modal-body">
              <div class="workContainer">
                <div class="col-xs-4 text-center">Name</div>
                <div class="col-xs-4 text-center">Weight</div>
                <div class="col-xs-4 text-center">Mark</div>
              </div>
              <div class="workWrap text-center">
                {{#each work}}
                  {{> work}}
                {{/each}}
              </div>
              <form id="addWorkParsley" parsley-validate>
              <div class="addNewWork">
                <hr />
                <div class="input-group col-xs-12">
                  <input type="text" parsley-trigger="change" required class="form-control workName input-block-level" placeholder="Work name">
                </div>
                  <input type="text" parsley-trigger="change" parsley-type="digits" required class="form-control workWeight" placeholder="Work weight">
                  <!-- <span class="input-group-addon">%</span> -->
                <div class="workGroup">
                  <div class="col-xs-5 pull-left">
                    <input type="text"  parsley-trigger="change" parsley-type="digits" class="form-control workMark" placeholder="Current Overall Mark">
                    <!-- <span class="input-group-addon">%</span> -->
                  </div>
                  <div class="col-xs-2 orChoice text-center pull-left"><strong>or</strong></div>
                  <div class="col-xs-5 pull-left">
                      <input type="radio" name="workIncomplete" class="pull-left incomplete">
                      <div class="orChoice pull-right">Incomplete</div>
                  </div>
                </div>
              </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success pull-left addWork">Add work</button>
              <button type="button" class="btn btn-default closeModuleView " data-dismiss="modal">Close</button>
            </div>
          {{/with}}
        {{/if}}

        {{#if creatingModule}}
            <div class="modal-header">
              <button type="button" class="close closeModuleCreate" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Create new Module</h4>
            </div>
            <div class="modal-body cf">
              <form id="addModuleParsley" parsley-validate>
                  <input  parsley-trigger="keyup" parsley-rangelength="[1,7]" required type="text" class="form-control moduleShort input-block-level" placeholder="Module Shortcode (max 7 chars)">
                  <input  parsley-trigger="change" required type="text" class="form-control moduleName input-block-level " placeholder="Module name">
                  <input type="text" class="form-control moduleWeight" required parsley-type="digits" parsley-trigger="change" placeholder="Module weight">
                  <!-- <span class="input-group-addon">%</span> -->
                <div class="workGroup">
                  <div class="col-xs-5 pull-left">
                    <input type="text" class="form-control moduleMark" parsley-min="0" parsley-max="100" parsley-type="digits" placeholder="Current Overall Mark">
                    <!-- <span class="input-group-addon">%</span> -->
                  </div>
                  <div class="col-xs-2 orChoice text-center pull-left"><strong>or</strong></div>
                  <div class="col-xs-5 pull-left">
                      <input type="radio" name="rad" class="pull-left incomplete">
                      <div class="orChoice">Incomplete</div>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default closeModuleCreate" data-dismiss="modal">Close</button>
              <input type="submit" class="btn btn-primary saveModule" value="Save Changes">
            </div>
        {{/if}}
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</template>
