.likert {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    float: left;
    text-align: left;
    list-style-type: none;
  }

  > input {
    display: inline-block;
    margin: 10px;
  }
}

.likert-form, .likert-ul {
  padding: 0;
  margin: 15px auto;
  max-width: 350px;
}
