@import "../helpers/_colors.less";

#page {
  height: 100%;
}

#sidePanel {
  float: left;
  width: 20%;
  max-width: 250px;
  background-color: @base-grey-1;
  height: 100%;
  padding: 30px 0;

  & li {
    width: 100%;
    list-style: none;
    height: 25px;
    line-height: 25px;
  }
  & li:hover {
    cursor: pointer;
  }

  .actions {
    padding: 0 10px;
  }

  .action {
    a { line-height: 25px; padding: 0 15px; }

    a > p {
      display: inline-block;
      color: @base-grey-2;
      padding: 0 12px;
    }
  }
}

#mainPanel {
  width: 80%;
  padding-right: 50px;
  float: right;
  border-left: darken(@base-grey-1, 225%);
  height: 100%;

  .content-inner {
    margin-left: 50px;
    padding: 30px 0;
  }

  .module-icons {
    height: 35px;

    & .module-icon {
      display: inline-block;

      &:hover { cursor: pointer; }
    }
  }
}

.workGroup {
  padding-top: 10px;
}

.orChoice {
    line-height: 34px;
  }
